name: Maintenance

on:
  schedule:
    - cron: '0 13 1 * *'

  workflow_dispatch:

jobs:
  update-libraries:
    name: Update Libraries

    if: false # TODO: Enable

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Update fenster
        run: wget https://raw.githubusercontent.com/jonasgeiler/fenster/main/fenster_audio.h -O lib/fenster_audio/fenster_audio.h

      - name: Update compat-5.3
        run: |
          wget https://raw.githubusercontent.com/lunarmodules/lua-compat-5.3/master/c-api/compat-5.3.h -O lib/compat-5.3/compat-5.3.h
          wget https://raw.githubusercontent.com/lunarmodules/lua-compat-5.3/master/c-api/compat-5.3.c -O lib/compat-5.3/compat-5.3.c

      - name: Create pull request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: 'chore(lib): update libraries'
          signoff: true
          branch: maintenance/update-libraries
          delete-branch: true
          sign-commits: true
          title: 'chore(lib): update libraries'
          body: |
              This PR updates the libraries used by the project.
          labels: libraries
          reviewers: ${{ github.repository_owner }}
