name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yml

  luarocks-upload-and-github-release:
    name: LuaRocks Upload & GitHub Release
    needs: check

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Lua
        uses: luarocks/gh-actions-lua@master

      - name: Set up LuaRocks
        uses: luarocks/gh-actions-luarocks@master

      - name: Modify rockspec & upload to LuaRocks server
        run: |
          IFS=$' \n\t'; set -ux
          
          version="${GITHUB_REF_NAME}"
          rockspec="fensteraudio-${version#v}-1.rockspec"
          git mv fensteraudio-dev-1.rockspec "${rockspec}"
          sed -i -E "s/\bversion\s*=\s*('|\"|\[\[)\s*[a-zA-Z0-9.-]+\s*('|\"|\]\])/version = '${version#v}-1'/" "${rockspec}"
          sed -i -E "s/\bbranch\s*=\s*('|\"|\[\[)\s*[a-zA-Z0-9.-_\/]+\s*('|\"|\]\])/tag = '$version'/" "${rockspec}"
          git diff
          if [[ -z "$(git status --porcelain "${rockspec}")" ]]; then
            echo 'Rockspec not modified'
            exit 1
          fi
          luarocks install dkjson
          luarocks upload --temp-key "${{ secrets.LUAROCKS_API_KEY }}" "${rockspec}"

      - name: Draft release on GitHub
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          draft: true
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: |
            fensteraudio-*-1.rockspec
            fensteraudio-*-1.src.rock
